.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.time {
  color: #475569;
  margin-right: 30px;
}

.logo {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.title {
  font-size: 14px;
  margin-right: 8px;
  font-weight: 700;
}

.domain {
  font-size: 14px;
}

.delete-btn {
  background-color: transparent;
  border-width: 0px;
  justify-self: flex-end;
  cursor: pointer;
  outline: none;
  border: none;
}
